{% extends 'budget/base.html' %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

<script>
    
    window.onload = function(){
        
        var ctx = document.getElementById("myChart").getContext("2d");
        var ctx2 = document.getElementById("myChart2").getContext("2d");
        var interestRate = 3;
        const xLabelYear = function(year){ // create an array of years since u cant put js var into django template
            var years = []
            var year = year
            for (i=0;i< 50; i++){
                years.push(year)
                year++
            }
            return years;
        }
        const yCompoundInterest = function(interest){ // create an array of compounded savings since u cant put js var into django template
            var savingsInvestments = 0
            var compoundedSavings = []
            var finalinterest = (interest/100) + 1
            {% for i in totalexpense %}                  
            savingsInvestments = {{ i.total_price }}
            {% endfor %}
            for (i=0;i< 50; i++){
                compoundedSavings.push(savingsInvestments)
                savingsInvestments *= finalinterest
            }
            return compoundedSavings;
        }
        const extractData = function(year , interest){
            var interestR = interest
            var yearZ = year
            var values = yCompoundInterest(interestR)
            var actualvalue = values[yearZ]
            alert(values);
            return actualvalue;
        }
        const selectedChart = function(interestRate){   
            return new Chart(ctx, {
            type: 'line',
            data: {
                labels: xLabelYear('{{ today }}'),
                datasets: [{
                    label: ['Selected Rate'],
                    data:
                          interestRate,
                        
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1,
                    scales: {
                        xAxes: [{
                            type: 'time',
                            
                        }]
                    }
                },{
                    label: 'Fixed Deposit 3% Rate ',
                    data:
                          yCompoundInterest(3),
                        
                    backgroundColor: [
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1,
                    scales: {
                        xAxes: [{
                            type: 'time',
                            
                        }]
                    }
                }]
                
            },
            
        });}
        const selectedChart2 = function(interestRate){   
            return new Chart(ctx2, {
            type: 'line',
            data: {
                labels: xLabelYear('{{ today }}'),
                datasets: [{
                    label: ['Selected Rate'],
                    data:
                          interestRate,
                        
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1,
                    scales: {
                        xAxes: [{
                            type: 'time',
                            
                        }]
                    }
                },{
                    label: 'Fixed Deposit 3% Rate ',
                    data:
                          yCompoundInterest(3),
                        
                    backgroundColor: [
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1,
                    scales: {
                        xAxes: [{
                            type: 'time',
                            
                        }]
                    }
                }]
                
            },
            
        });}
        
    var myChart = selectedChart(interestRate)
    var myChart2 = selectedChart2(interestRate)
    
    // Create a function to store getelementid values?
    
    document.getElementById("interest").onchange = function getInterest(){
        var skillsSelect = document.getElementById("interest");
        var selectedText = skillsSelect.options[skillsSelect.selectedIndex].text;
        var compund = yCompoundInterest(selectedText)
        myChart = selectedChart(compund)
    }
   
    
    document.getElementById("year").onchange = function getYear(){
        var skillsSelect = document.getElementById("year");
        var skillsSelect2 = document.getElementById("interest");
        var yearZ = skillsSelect.options[skillsSelect.selectedIndex].text;
        var interestZ = skillsSelect2.options[skillsSelect2.selectedIndex].text;
        var arrayz = yCompoundInterest(interestZ)
        var projectedamount = Math.round(arrayz[yearZ])
        document.getElementById("projectedamount").innerHTML = projectedamount;
        var currentamount = 0
        {% for i in totalexpense %}                  
            currentamount = {{ i.total_price }}
        {% endfor %}
        var growthrate = Math.round(projectedamount/currentamount * 100 );
        document.getElementById("growth").innerHTML = growthrate;
        
    }


    document.getElementById('buttoncal').onclick = function calculate(){
        var monthControl = document.querySelector('#month[type="month"]').value;
        var estimate = document.getElementById('estimatemonthlysavings').value;
        var totalsavings = document.getElementById('totalsavings').value;
        var interest = document.getElementById('interesteste').value;
        alert(estimate +" " + monthControl+" "+totalsavings+" "+interest);
    }

    
    
}
      
 </script>


<div class='container'>  
    <section class="section section-stats">
        <section class='row'>
            <div class='col s24 m12 l6' style="display: inline-block">
                
                <div class='card-panel' style='height: 250px' >
                    <h6 class='bold'>Current Savings</h6>
                    <h1 class='bold'>
                        {% for i in totalexpense %}                  
                        $ {{ i.total_price }}
                        {% endfor %}</h1>
                    
                </div>
                
            </div> 
            <div class='col s24 m12 l6' style="display: inline-block">
                <div class='card-panel' style='height: 250px' >
                    <h6 class='bold'>Projected Amount  $  | Projected Growth Rate %  </h6>
                    <h1 class='bold'>$ <span id="projectedamount"></span> | <span id="growth"></span> % </h1>
                    <div class='input field'>
                        <div class="modal-content ">
                            <form method='POST'>

                                {% csrf_token %}
                                <div class='col l6'>
                                    <label>
                                        <h6 class='bold'>Interest Rate % </h6>
                                    </label>

                                    <select id='interest' style="display:block;width:60px;" onchange="getInterest()">
                                            <option> 1</option>
                                            <option> 2</option>
                                            <option> 3</option>
                                            <option> 4</option>
                                            <option> 5</option>
                                            <option> 6</option>
                                            <option> 7</option>
                                            <option> 8</option>
                                            <option> 9</option>
                                            <option> 10</option>
                                    </select>
                                </div>
                                <div class='col l6'>
                                    <label>
                                        <h6 class='bold'>Years </h6>
                                    </label>

                                    <select id='year' style="display:block;width:60px;" onchange="getYear()">
                                            <option> 1</option>
                                            <option> 2</option>
                                            <option> 3</option>
                                            <option> 4</option>
                                            <option> 5</option>
                                            <option> 6</option>
                                            <option> 7</option>
                                            <option> 8</option>
                                            <option> 9</option>
                                            <option> 10</option>
                                            <option> 11</option>
                                            <option> 12</option>
                                            <option> 13</option>
                                            <option> 14</option>
                                            <option> 15</option>
                                            <option> 16</option>
                                            <option> 17</option>
                                            <option> 18</option>
                                            <option> 19</option>
                                            <option> 20</option>
                                            <option> 21</option>
                                            <option> 22</option>
                                            <option> 23</option>
                                            <option> 24</option>
                                            <option> 25</option>
                                            <option> 26</option>
                                            <option> 27</option>
                                            <option> 28</option>
                                            <option> 29</option>
                                            <option> 30</option>
                                            <option> 31</option>
                                            <option> 32</option>
                                            <option> 33</option>
                                            <option> 34</option>
                                            <option> 35</option>
                                            <option> 36</option>
                                            <option> 37</option>
                                            <option> 38</option>
                                            <option> 39</option>
                                            <option> 40</option>
                                            <option> 41</option>
                                            <option> 42</option>
                                            <option> 43</option>
                                            <option> 44</option>
                                            <option> 45</option>
                                            <option> 46</option>
                                            <option> 47</option>
                                            <option> 48</option>
                                            <option> 49</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>  
                </div>
            </div> 
            <div class='card-panel col s24 m12 l12' style="display: inline-block"><canvas id="myChart" height="550" width="800"></canvas></div>
       
            <div class='col s24 m12 l12' style="display: inline-block">          
                <div class='card-panel' style='height: 200px' >
                    <h6 class='bold' style='white-space: pre;'> $ Monthly Targeted Savings                      Targeted Year of Retirement                      Current Total Savings                      Interest Rate%          </h6>
                    <div class="input-field col l3" height='500'>
                        <input value="100" id="estimatemonthlysavings" type="number" >
                        
                        <button class="btn waves-effect waves-light" type="submit" name="action" id='buttoncal' onClick='calculate()'>Calculate
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                    <div class="input-field col l4" height='500' style='padding-left: 70px; padding-top: 20px;'>
                        <input id="month" type="month" min="2021-03" value='2050-01' onchange="getMonth()">
                        
                    </div>
                    <div class="input-field col l3" height='500'>
                        <input value="0" id="totalsavings" type="number">
                    </div>                            
                    <div class='col l2 ' style= 'padding-top: 20px;'>
                    

                        <select id='interesteste' style="display:block;width:60px;" >
                                <option> 0</option>
                                <option> 1</option>
                                <option> 2</option>
                                <option> 3</option>
                                <option> 4</option>
                                <option> 5</option>
                                <option> 6</option>
                                <option> 7</option>
                                <option> 8</option>
                                <option> 9</option>
                                <option> 10</option>
                        </select>
                </div>
                
                </div>
                
            </div> 
            <div class='col s24 m12 l12' style="display: inline-block">          
                <div class='card-panel' style='height: 200px' >
                    <h6 class='bold'  style='white-space: pre;'> $ Total Estimated Savings        |        Retirement Age | Monthly Expenses | Years </h6>
                    <h2 class='bold'> $ 500000 | 29</h2>
                          
                </div>
            </div> 
            <div class='card-panel col s24 m12 l12' style="display: inline-block"><canvas id="myChart2" height="550" width="800"></canvas></div>
        </section>

        </section>

</div>
  
{% endblock %}