{% extends 'budget/base.html' %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

<script>
    window.onload = function(){
        var ctx = document.getElementById("myChart").getContext("2d");
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [{% for y in year %}'{{ y.date_posted }}',{% endfor %}],
                datasets: [{
                    label: '# of Votes',
                    data:[{
                            x: 10,
                            y: 20
                        }, {
                            x: 15,
                            y: 500
                        },{
                            x: 10,
                            y: 20
                        },
                        ,{
                            x: 10,
                            y: 30
                        }],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1,
                    scales: {
                        xAxes: [{
                            type: 'time',
                            
                        }]
                    }
                }]
                
            },
            
        });
    }
</script>  
    
 </script>
<div class='container' height="500" width="500">  
        <a class="btn-floating pulse"><i class="material-icons">menu</i></a>
        <a class="btn-floating btn-large pulse"><i class="material-icons">cloud</i></a>
        <a class="btn-floating btn-large cyan pulse"><i class="material-icons">edit</i></a>
        <div style="display: inline-block"><canvas id="myChart" height="1000" width="1000"></canvas></div>
    </div> 
</div>
  
{% endblock %}