{% extends 'budget/base.html' %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

<div class='container'>
    
    <section class="section section-stats">
        <div class='row'>
            <div class='col s12 m6 l4'>
                <div class='card-panel'>
                    <h6 class='bold'>Total Budget</h6>
                    <h1 class='bold'>${{ project.budget }}</h1>
                </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="card-panel">
                  <h6 class="bold">Budget Left</h6>
                  {% if project.budget_left > 0 %}
                    <h1 class="bold green-text">${{ project.budget_left }}</h1>
                  {% elif project.budget_left == 0 %}
                    <h1 class="bold orange-text">${{ project.budget_left }}</h1>
                  {% else %}
                    <h1 class="bold red-text">${{ project.budget_left }}</h1>
                  {% endif %}
                </div>
              </div>

            <div class='col s12 m6 l4'>
                <div class='card-panel'>
                    <h6 class='bold'>Total Transactions</h6>
                    <h1 class='bold'>{{ project.total_transactions }}</h1>
                </div>
            </div>
        </div>
    </section>

    <section class='section section-expenses'>
        <div class='row'>
            <button class="btn waves-effect right right modal-trigger" href="#expenseModal"> 
            <i class='material-icons while-text left'>add_circle</i>
                Add Expense 
            </button>
        </div>
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger" href="#modal1">History </a>
        <!-- Modal Structure -->
        <div id="modal1" class="modal modal-fixed-footer">
            <div class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
            </div>
            <div class="modal-footer">
            <a href="/projections" class="modal-close waves-effect waves-green btn-flat"> Close </a>
            </div>
        </div>
        <a class="waves-effect waves-light btn modal-trigger" href="#modal1">History </a>
        <!-- Modal Structure -->
        <div id="modal1" class="modal modal-fixed-footer">
            <div class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
            </div>
            <div class="modal-footer">
            <a href="/" class="modal-close waves-effect waves-green btn-flat"> Close </a>
            </div>
        </div>
        

        <ul class='z-depth-1'>

            {% for expense in expense_list %}

            <li>
                <div class="card-panel z-depth-0 expense">
                    <div class="row">
                        <div class="col l6 ">
                            <span class='title bold '> {{ expense.title }} </span>    
                        </div>

                        <div class="col l4 ">
                            <span class='title'> ${{ expense.amount }} </span>    
                        </div>

                        <div class="col l2 ">
                            <span class='title'>{{ expense.category.name }}</span>    
                        </div>

                        <div class="col l ">
                            <span class='title'>{{ expense.date_posted }}</span>    
                        </div>

                        <a class="close-icon" onclick="deleteExpense(this)" data-id="{{ expense.id }}">
                            <i class="material-icons red-text right">close</i>
                          </a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>


<div id='expenseModal' class='modal'>
    <div class="modal-content">
        <h4> Add Expense </h4>
        <form method='POST'>
            {% csrf_token %}
            <label for="title"> Title </label>
            <input name="title" id="title">
            
            <label for="amount"> Amount </label>
            <input name="amount" id="amount">

            <select name='category'>
                {% for category in category_list %}
                    <option>{{ category.name }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn">Add</button>
        </form>
    </div>
</div>



<script>
var elem = document.querySelector('.modal')
var instance = M.Modal.init(elem) 

var elem = document.querySelector('select')
var instance = M.FormSelect.init(elem) 

function deleteExpense(e){

let id = e.dataset.id
e.closest('li').remove()

fetch('', {
  method: 'DELETE',
  headers: {
    'X-CSRFToken': '{{ csrf_token }}'
  },
  body: JSON.stringify({
    'id': id
  }),
  credentials: 'same-origin',
})
}
   
</script>

{% block scripts %}

<script>
window.onload = function(){
    var ctx = document.getElementById("myChart").getContext("2d");
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: [{% for i in totalexpense %}
            '{{ i.category__name }}'
            ,{% endfor %}],
            datasets: [{
                label: '# of Votes',
                data:[{% for i in totalexpense %}
            '{{ i.total_price }}'
            ,{% endfor %}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
            
        },
        
    });
    var ctx2 = document.getElementById("myChart2").getContext("2d");
    var selectedText = "necessity";
    const selection = function(selectedText){ // create an array of titles since u cant put js var into django template
        var categoricals = []
        {% for i in expensename %}
        if(selectedText == '{{ i.category__name }}'){
            categoricals.push('{{ i.title }}')  
        }
        {% endfor %} 
        return categoricals;
    }
    const selectionData = function(selectedText){ // create an array of titles since u cant put js var into django template
        var categoricals = []
        {% for i in expensename %}
        if(selectedText == '{{ i.category__name }}'){
            categoricals.push('{{ i.amount }}')  
        }
        {% endfor %} 
        return categoricals;
    }
    const setChart = function(selectedText){ // create an array of amount since u cant put js var into django template
        return new Chart(ctx2, {
        type: 'doughnut',
        data: {
            labels: selection(selectedText),
            datasets: [{
                label: '# of Votes',
                data:selectionData(selectedText),
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 20, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
            
        },
        
    });
    }
    var myChart2 = setChart(selectedText)
     
    document.getElementById("chooser").onchange = function getvalue(){
        var skillsSelect = document.getElementById("chooser");
        selectedText = skillsSelect.options[skillsSelect.selectedIndex].text;
        myChart2 = setChart(selectedText)
    }

    

   
}

</script>
<div align="center">
    <div  class='input field'>
        <div class="modal-content">
            <form method='POST'>
                {% csrf_token %}
                <select id='chooser' style="display:block;width:200px; margin-left: auto;" onchange="getvalue()">
                    {% for category in category_list %}
                        <option>{{ category.name }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
    </div>
    <script>
        
    </script>
    
    <div style="display: inline-block"><canvas id="myChart" height="500" width="500"></canvas></div>
    <div style="display: inline-block"><canvas id="myChart2" height="500" width="500"></canvas></div>
</div>




{% endblock scripts %}

{% endblock %}